@charset "utf-8";
/* Template CSS */

/*Classes générales*/
*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Verdana;
  background-color: #f6f6f6;
  cursor: default;
}
h1{
  text-align: center;    
  font-weight : 300;
}
a{
  font-size:20px;
  text-align: center;
  text-decoration: none;
}
.text_center{
  text-align: center;
}

.card{
  border-radius: 0.5em;
  background-color: #e9e9e9;
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
  border: 1px solid rgba(87, 15, 15, 0.125);
  padding: 1.25rem;
}
.visuel{
  max-width: 250px;
  max-height: 120px;
}
/*Container et colonnes*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 1200px){
  .container {
      max-width: 1140px;
  }
}

@media (max-width: 779px) {
  .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
      width:100%;
  }
}
@media (min-width: 780px) {
  .col-1{
    width: 8.33333333%;
  }
  .col-2 {  
      width: 16.66666667%;
  }
  .col-3 {	
      width: 25%;
  }
  .col-4 {	
      width: 33.33333333%;
  }
  .col-5 {
      width: 41.66666667%;
  }
  .col-6 {
      width: 50%;
  }
  .col-7 {
      width: 58.33333333%;
  }
  .col-8 {
      width: 66.66666667%;
  }
  .col-9 {
      width: 75%;
  }
  .col-10 {
      width: 83.33333333%;
  }
  .col-11 {
      width: 91.66666667%;
  }
  .col-12 {
    width: 100%;
  }
}

/*navbar et menu*/

.menu {
  background-color: #ffffff;
  display: inline-flex;
  /*position: fixed;*/
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  z-index: 900;
  margin-top: 0%;
}
.nav_left{
  display: inline-flex;
  width: 400px;
  justify-content: space-evenly;
  align-items: center;
}

/*index.php*/
.row_index{
  justify-content: center;
}
.card_index{
  border-radius: 0.5em;
  background-color: #e9e9e9;
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
  border: 1px solid rgba(87, 15, 15, 0.125);
}
/*administration.php*/
.form_admin{
  max-width: 250px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} 
.detail{
  background-color: #032d88;
  color: white;
  padding: 14px 25px;
  display: inline-block;
}
.conforme{
  background-color: #80c944;
  color: white;
  padding: 14px 25px;
  display: inline-block;
}
.non_conforme{
  background-color: #bb2c2c;
  color: white;
  padding: 14px 25px;
  display: inline-block;
}
.impression{
  background-color: #d7da42;
  color: black;
  padding: 14px 25px;
  display: inline-block;
}
.regulariser{
  background-color: #c9931f;
  color: rgb(255, 255, 255);
  padding: 14px 25px;
  display: inline-block;
}
/*creation.php*/
.div_bouton_creation{
  display: flex;
  justify-content: center;
}
.controleur_type_commande{
    justify-content: center;
    margin-bottom: 1%;
}
.web{
  background-color: #5ee9f3;
  color: white;
  padding: 14px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.physique{
  background-color: #cde950;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/*panier.php*/
.panier_creation{
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

/*detail.php*/
.detail_commande{
  margin-top: 0%;
  font-size: 20px;
}
/*modification.php*/
.form_modif_commande{
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*CSS pris suur autre exos*/
table, th, td {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-collapse: collapse;
  margin: auto;
  padding: auto;
}

th,td {
  font-family: Verdana, Geneva, sans-serif;
  font-size : 14px;
  padding: 5px;
  text-align:center;
}

th {
   background-color: grey;
   color: white; 
   font-size: 20px;
}

td {
   color: black;
}
td.total {
  font-weight: bold;
}
